# Sets

Sets are collection-type objects that differ from lists and tuples in that they only store unique elements. This means that if you try to add an element that already exists in a set, it will not be added to the set, and it will not be displayed multiple times. Lists and tuples can store duplicate elements, unlike sets, and they preserve the order of elements. Another important difference is that sets do not use indexes, so the order of their elements is not specified.

### Set declaration

`mySet = {item, item, item}` - assigns set object to a variable(mySet).

`set(param: iterable)` - returns set object, takes in one parameter iterable i.e list, string, tuple, set ...

### Set methods

`add(param: value)` - adds value to a set:

In [ ]:
set1 = {1, 2, 3}

set1.add(4)
print(set1) # {1, 2, 3, 4}

`update(param: iterable)` - method updates the current set, by adding items from another set (or any other iterable).

In [ ]:
set1 = {1, 2, 3}
list2 = ['banana', 'apple', 25]

set1.update(list2)
print(set1) # {1, 2, 3, 25, 'banana', 'apple'}

`remove(param: value)` - method removes the specified value from the set. Will raise an error if value doesn't exist.

In [85]:
set1 = {1, 2, 3}

set1.remove(4)
print(set1) # KeyError: 4

KeyError: 4

In [86]:
set1 = {1, 2, 3}

set1.remove(2)
print(set1) # {1, 3}

{1, 3}

`discard(param: value)`- method removes the specified item from the set. Will not raise an error if value doesn't exist.

In [87]:
set1 = {1, 2, 3}

set1.discard(4)
print(set1) # {1, 2, 3}

{1, 2, 3}

In [88]:
set1 = {1, 2, 3}

set1.discard(2)
print(set1) # {1, 3}

{1, 3}

`pop()` - does not take any parameters, removes random value from set, and returns it.

In [89]:
set1 = {1, 2, 3}

popped = set1.pop()
print(set1) # {2, 3}
print(popped) # 1

{2, 3}
1

`clear()` - does not take any parameters, removes all values in a set.

In [90]:
set1 = {1, 2, 3}
set1.clear()
print(set1) # set()

set()

`copy()` - does not take any parameters, copies the set.

In [91]:
set1 = {1, 2, 3}
copy = set1.copy()
print(copy) # {1, 2, 3}

{1, 2, 3}

`union(params: set1, set2, ...)` - returns a set that contains all items from the original set, and all items from the specified set(s).

In [1]:
set1 = {"one", 2, 3, 5, 6}
set2 = {1, 2, "three", 4, 7, 8}


set3 = set1.union(set2)
print(set3) # {1, 2, 3, 4, 5, 6, 'one', 7, 8, 'three'} since it combines all values present in sets

print(set1 | set2) # this is equivelent to set1.union(set2)

{1, 2, 3, 4, 5, 6, 'one', 7, 8, 'three'}
{1, 2, 3, 4, 5, 6, 'one', 7, 8, 'three'}

`intersection(params: set1, set2, ...)` - method returns a set that contains the similarity between two or more sets.

In [3]:
set1 = {1, 2, 3, 5, 6, "apple"}
set2 = {1, 2, 3, 4, 7, 8, "apple"}


set3 = set1.intersection(set2)
print(set3) # {1, 2, 3, 'apple'} since {1, 2, 3, 'apple'} are in both sets


print(set1 & set2) # this is equivelent to set1.intersection(set2)

{1, 2, 3, 'apple'}
{1, 2, 3, 'apple'}

`difference(param: set1)` - method returns a set that contains the difference between two sets.

In [5]:
set1 = {1, 2, 3, 5, 6}
set2 = {1, 2, 3, 4, 7, 8}
set3 = set1.difference(set2)
print(set3) # {5, 6} since it checks how set1 is different from set2

print(set1 - set2) # is the same operation

{5, 6}
{5, 6}

`symmetric_difference(param: set1)` - method returns a set that contains all items from both set, but not the items that are present in both sets.

In [7]:
set1 = {1, 2, 3, 5, 6}
set2 = {1, 2, 3, 4, 7, 8}
set3 = set1.symmetric_difference(set2)
print(set3) # {4, 5, 6, 7, 8} since {1, 2, 3} are in both sets

print(set1 ^ set2) # is the same

{4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

### Set operators

1. `set1 | set2`: union
1. `set1 & set2`: intersection
1. `set1 âˆ’ set2`: difference
1. `set1 ^ set2`: symmetric_difference

#### Also

1. `s1 == s2` is s1 equal to s2 ? returns bool: True or False
1. `s1 != s2` is s1 not equal to s2 ? returns bool: True or False

1. `s1 <= s2`  :  s1 is subset of s2. i.e. all elements of s1 are in s2, returns True if s1 is a subset of s2.
1. `s1 >= s2`  : s1 is subset of s2. i.e. all elements of s2 are in s1, returns True if s1 is a subset of s2.

In [98]:
set1 = {1, 2, 3, 5, 6}
set2 = {1, 2, 3, 4, 7, 8}

print(set1 == set2) # False since sets are not equal

set1 = {1, 2, 3, 5, 6}
set2 = {1, 2, 3, 5, 6}

print(set1 == set2) # True since sets are equal

False
True

In [99]:
set1 = {1, 2, 3, 5, 6}
set2 = {1, 2, 3, 4, 7, 8}

print(set1 != set2) # True since sets not are equal

set1 = {1, 2, 3, 5, 6}
set2 = {1, 2, 3, 5, 6}

print(set1 != set2) # False since sets are equal

True
False

In [8]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 7, 8}

print(set1 <= set2) # True since set1 is a subset of set2, since {1, 2, 3} is in {1, 2, 3, 4, 7, 8}

print(set1 >= set2) # False since set2 is not a subset of set1, since {1, 2, 3, 4, 7, 8} is not in {1, 2, 3}

True
False

### Set iteration

you can iterate throught sets using loops:

In [9]:
x = {1, 2, 3}

for value in x:
    print(value)

1
2
3

### Sets manipulation

You can also turn sets into other `data structures`, like lists, tuples, and vice versa:

In [15]:
mySet = {1, 2, 3}

print("mySet as list: ", list(mySet), type(list(mySet))) # [1, 2, 3] <class 'list'>
print("mySet as tuple: ", tuple(mySet), type(tuple(mySet))) # (1, 2, 3) <class 'tuple'>

# as i can convert set into list, so i can convert list into set.
myList = [1, 2, 3]
myTuple = (1, 2, 3)

print("myList as set: ", set(myList), type(set(myList)))
print("myTuple as set: ", set(myTuple), type(set(myTuple)))

mySet as list:  [1, 2, 3] <class 'list'>
mySet as tuple:  (1, 2, 3) <class 'tuple'>
myList as set:  {1, 2, 3} <class 'set'>
myTuple as set:  {1, 2, 3} <class 'set'>

# `Quick assignement 1`

#### Instructions

1. Create a set with numbers in it.
1. add some number to a set.
1. print out set with new number added.

# `Quick assignement 2`

#### Instructions

1. Create a set with numbers in it.
1. delete some number from set.
1. print out set without deleted number.

# `Quick assignement 3`

#### Instructions

1. Create a set, from two sets(created in past exercises) with elements that are common between two sets.
1. print out set.

# `Quick assignement 4`

#### Instructions

1. Create a set, from two sets(created in first two exercises) with elements that are in first set but not in second set.
1. print out set.

# `Quick assignement 5`

#### Instructions

1. Create a set, from two sets(created in past exercises) with elements that are in the second set but not in first set.
1. print out set.

# Bonus

1. Square all numbers in last set

### more on sets:

- [Why are sets like this](https://www.youtube.com/watch?v=Gp-qih4T9tA), 
- All [Set methods](https://www.w3schools.com/python/python_sets_methods.asp)
- Official [Python Reference](https://docs.python.org/3/tutorial/datastructures.html#sets). Even if not the easiest to understand for you right away, will prove essential in the future.